{% extends 'crm/navbar.html'%}

{% block content %}

    <br>
    <h3> <center>  Welcome back {{user}} ! Find you listings here.  </center>  </h3>
    <hr>
    <br>

    {%for thought in AllThoughts %}
        <br>
        <div class="container bg-red shadow-lg p-5 form-layout">

            <h5> NAME - {{thought.title}} </h5>  
            
            <h5> CONTACT INFO - {{thought.content}} </h5>
            
            <h5> CREATED ON - {{thought.date_posted}} </h5>
            
            <h5> PRICE - {{thought.price}} </h5>
            <br> 
            <img src="{{thought.image.url}}" hieght="300" width="300" alt="" />
            <br>
            <br>
            <a href = "{% url 'update-tasks' thought.id %}">  Update Tasks </a>

            <br>
            <br>

            <a href = "{% url 'delete-tasks' thought.id %}">  Delete Tasks </a>


        </div>

    {% endfor %}

{% endblock %}